<h1>Articles</h1>





 
    <% @article.each do |book| %>
        
        <h2><%= book.name %></h2>
       
        <h6><%= book.description %></h6>
        <br>
        <br>
        
   
    <% end %>


<br>


